<a href="https://colab.research.google.com/github/mpintoponce/Python_Practice/blob/main/Sets_PPC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
set1 = {1,2,3,4,5,6,7,8,9,10}

set1.remove(5)
set1

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [5]:
set1.discard(5)
set1

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [6]:
set1.remove(5) #En este caso arroja error porque el remove no encuentra el valor de 5. Pero en caso de "Discard" no arroja error.

KeyError: 5

In [7]:
for i in range(1,6):
  set1.discard(i)

set1
#No arroja error por no tener el 5. El remove hubiera arrojado error.

{6, 7, 8, 9, 10}

In [15]:
my_list = [1,2,3,4,5,6,2]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5, 6}

In [16]:
my_strg = "Python"
my_set2 = set(my_strg)
my_set2

{'P', 'h', 'n', 'o', 't', 'y'}

In [21]:
# Ejercicio 1
money = {"euro":"€", "dolar": "$", "yen": "¥"}

selection = input("¿Qué moneda quieres (euro, dolar, yen): ").lower()
if selection in money:
  print(f"La monera seleccionada es: ¨{money[selection]}¨")
else:
  print("La moneda no se encuentra en el diccionario.")
  print("Las monedas disponibles son:")
  for current in money:
    print(f"- {current.capitalize()}")

¿Qué moneda quieres (euro, dolar, yen): euro
La monera seleccionada es: ¨€¨

In [27]:
# Ejercicio 2
name = input("¿Cuál es tu nombre?: ")
age = input("¿Cuál es tu edad?: ")
adreess = input("¿Cuál es tu dirección?: ")
phone = input("¿Cuál es tu teléfono?: ")
usser_data = {
    "nombre": name,
    "edad": age,
    "direccion": adreess,
    "telefono": phone
}
print ( "Los datos del usuario son:")
for clave, valor in usser_data.items():
  print(f"- {clave.capitalize()}: {valor}")

print(usser_data.get("nombre").capitalize(), "tiene", usser_data.get("edad"), "años, vive en", usser_data.get("direccion"), "y su número de teléfono es", usser_data.get("telefono"), ".")

¿Cuál es tu nombre?: miguel
¿Cuál es tu edad?: 30
¿Cuál es tu dirección?: asdaeca
¿Cuál es tu teléfono?: 918231023
Los datos del usuario son:
- Nombre: miguel
- Edad: 30
- Direccion: asdaeca
- Telefono: 918231023
Miguel tiene 30 años, vive en asdaeca y su número de teléfono es 918231023 .

In [37]:
fruits = {"Platano": 1.35, "Manzana": 0.80, "Pera": 0.85, "Naranja": 0.70}

selection = input("¿Qué fruta deseas comprar?: ").title()
kilos = float(input("¿Cuántos kilos?: "))

if selection in fruits:
  price = fruits[selection] * kilos
  print(f"El precio total de la compra es de {price} soles.")
else:
  print("La fruta no se encuentra en el diccionario.")

¿Qué fruta deseas comprar?: pERA
¿Cuántos kilos?: 2
El precio total de la compra es de 1.7 soles.

In [33]:
months = {1:"Enero", 2: "Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio", 7:"Julio", 8:"Agosto", 9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}
date = input("Introduce una fecha (dd/mm/aaaa): ")
day, month, year = map(int, date.split("/"))
if month in months:
  print (f"La fecha introducida es: {day} de {months[month]} de {year}.")
else:
  print("La fecha no es válida.")

Introduce una fecha (dd/mm/aaaa): 22/05/2025
La fecha introducida es: 22 de Mayo de 2025.